*{
    margin: 0;
    padding: 0;
}



.cabecalho{
    background-color: #365902;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.pulmao{
    background-image: linear-gradient(#365902, #618C03);
    color: black;
    display: flex;
    padding: 24px 0;
}
.cerebro{
    color: black;
    background-color: #618C03;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.estomago{
    background-color: #618C03;
    color: black;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.coracao{
    background-color: #618C03;
    color: black;
    display: flex;
    justify-content: end;
    padding: 24px 0;
}

.pulmao-titulo{
    padding: 24px 0;
}

.cerebro-titulo{
    padding: 24px 0;
}

.estomago-titulo{
    padding: 24px 0;
}

.coracao-titulo{
    padding: 24px 0;
}



