*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}


.cabecalho{
    background-color: #365902;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.pulmão{
    background-image: linear-gradient(#365902, #618C03);
    color: black;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.cérebro{
    color: black;
    background-color: #618C03;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.estômago{
    background-color: #618C03;
    color: black;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.coração{
    background-color: #618C03;
    color: black;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.pulmão-titulo{
    padding: 24px 0;
}

.cérebro-titulo{
    padding: 24px 0;
}

.estômago-titulo{
    padding: 24px 0;
}

.coração-titulo{
    padding: 24px 0;
}



